body{
   color: #434455;

   background-color: #FFFFFF ;
   font-family: "Roboto", sans-serif;
}
address
{
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;

}
address ul li >a:hover{
   color: #404bbf ;
}
address ul li >a:focus
{
   color: #404bbf ;
}
span{
   font-weight: 700;
   font-size: 18px;
   line-height:1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
   font-family: "Raleway", sans-serif;
}
.logo  a
   {

      font-weight: 700;
      font-size: 18px;
      line-height:1.17;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #4d5ae5;
      font-family: "Raleway", sans-serif;
      
   }
   span{
      color: #2e2f42;
   }

button{

   cursor: pointer;
   font-size: 16px;
   line-height: 16px;
   font-weight: regular;
   letter-spacing: 4%;
   text-decoration: underline;

}
button:hover{
   color: #4A54E1;

}
button:focus{
   background-color: #4A54E1;
}
title{
   font-weight: bold;
   font-size: 56px;
   letter-spacing: 2%;
   line-height: 60px;
}
h1{
   font-weight: 500;
   font-size: 56px;
   letter-spacing: 2%;
   line-height: 60px;
}
h2{
   font-weight: 500;
   font-size: 36px;
   letter-spacing: 2%;
}
h3{
   font-weight: 500;
   font-size: 16px;
   letter-spacing: 2%;
   line-height: 24px;
}
link{
   font-weight: regular;
   font-size: 12px;
   letter-spacing: 4%;
   line-height: 16px;
   text-decoration: underline;
}
p{
   line-height: 1.5;
   letter-spacing: 0.02em;
}
